# Laravel
/vendor
/node_modules
.env
.phpunit.result.cache
/storage/*.key
/storage/oauth-private.key
/storage/oauth-public.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
*.sock
docker-compose.override.yml

# Logs
*.log

# MySQL volume
/workspaces/ShadowPanel/mysql/
